body,html{
    background-color: rgba(50, 250, 200, 0.5);
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  header{
    margin:30px 50px 30px 50px;
    width:90%;
    overflow: hidden;
    padding-bottom: 20px;
    background-color:rgba(0, 50, 255, 0.5);
    border: 1px solid salmon;
    border-right: 2px solid salmon;
    border-left: 2px solid salmon;
    border-radius: 20px;
    list-style-type: none;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
  float:right;
}
li a{
  display: inline-block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 20px;
}
.active{
  background-color:#aa86ee ;
  float: left;
  margin-left: 70px;
  border-radius: 10px;
}

a:hover:not(.active){
  background-color:lightslategrey;
}
header h2{
  background-color:blanchedalmond;
  color:#aa86ee ;
  text-align: center;
  font-size: 30px;
}
